ipywidgets~=7.0.0b1
jupyter_contrib_nbextensions
jupyter-wysiwyg
jupyter_dashboards
appmode

requests
folium
ipyleaflet

#Base maps
matplotlib
git+https://github.com/matplotlib/basemap.git
Pillow


scipy
seaborn
git+https://github.com/psychemedia/Localization.git
shapely
descartes

#3d - nb https://github.com/sinhrks/cesiumpy/issues/72
cesiumpy