ipywidgets~=7.0.0b1
jupyter_contrib_nbextensions
jupyter-wysiwyg

requests
folium
ipyleaflet

git+https://github.com/psychemedia/Localization.git
shapely
descartes

#3d - nb https://github.com/sinhrks/cesiumpy/issues/72
cesiumpy